

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: silver;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: gold;
    -fx-control-inner-background: black;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15pt;
    -fx-text-fill: red;
    -fx-padding: 5 5 5 5;
}
